<style>
    body {
        background: rgb(255,255,255); 
        padding: 0;

    }
    page {
        background: white;
        display: block;
        margin: 0 auto;
        padding: 0;
        /*      margin-bottom: 0.5cm;
      /      box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
        */
        line-height: 0;
        font-size: 0;
    }
    page[size="A4"] {  
        width: 21cm;
        height: 29.7cm; 
    }
    page[size="A4"][layout="landscape"] {
        width: 29.7cm;
        height: 21cm;  
    }
    page[size="A3"] {
        width: 29.7cm;
        height: 42cm;
    }
    page[size="A3"][layout="landscape"] {
        width: 42cm;
        height: 29.7cm;  
    }
    page[size="A5"] {
        width: 14.8cm;
        height: 21cm;
    }
    page[size="A5"][layout="landscape"] {
        width: 21cm;
        height: 14.8cm;  
    }
    @media print {
        body, page {
            margin: 0;
            box-shadow: 0;
        }
    }
    page.card-page {

    }
    div {
        margin: 0;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        width:100%;
        height:100%;
    }
    .card {
        border-radius:50%;
        overflow: hidden;
        position: absolute;
        width: 10cm;
        height:10cm;
        border: 1px #ddd solid;
    }
    .card1 {
        left:0.5cm;
        top:1cm;
    }
    .card2 {
        left:10.5cm;
        top:1cm;

    }
    .card3 {
        left:5.5cm;
        top:9.7cm
    }
    .card4 {
        left:0.5cm;
        top:18.5cm;
    }
    .card5 {
        left:10.5cm;
        top:18.5cm;
    }
    page.alt > .card1 {
        left:0.5cm;

    }
    page.alt > .card2 {
        right:10.5cm;

    }
    page.alt > .card3 {
        right:5.5cm;

    }
    page.alt > .card4 {
        right:0.5cm;

    }
    page.alt > .card5 {
        right:10.5cm;

    }
    page.alt {
        text-align:right;
    }
    .page-absolute {
        position:relative;
    }

    .image {
        margin:0cm;
        max-height:10cm;
        height:10cm;
        width:10cm;
        max-width:10cm;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .image1 {background-image: url('images/dobble-animals/image1.png');}
    .image2 {background-image: url('images/dobble-animals/image2.png');}
    .image3 {background-image: url('images/dobble-animals/image3.png');}
    .image4 {background-image: url('images/dobble-animals/image4.png');}
    .image5 {background-image: url('images/dobble-animals/image5.png');}
    .image6 {background-image: url('images/dobble-animals/image6.png');}
    .image7 {background-image: url('images/dobble-animals/image7.png');}
    .image8 {background-image: url('images/dobble-animals/image8.png');}
    .image9 {background-image: url('images/dobble-animals/image9.png');}
    .image10 {background-image: url('images/dobble-animals/image10.png');}
    .image11 {background-image: url('images/dobble-animals/image11.png');}
    .image12 {background-image: url('images/dobble-animals/image12.png');}
    .image13 {background-image: url('images/dobble-animals/image13.png');}
    .image14 {background-image: url('images/dobble-animals/image14.png');}
    .image15 {background-image: url('images/dobble-animals/image15.png');}
    .image16 {background-image: url('images/dobble-animals/image16.png');}
    .image17 {background-image: url('images/dobble-animals/image17.png');}
    .image18 {background-image: url('images/dobble-animals/image18.png');}
    .image19 {background-image: url('images/dobble-animals/image19.png');}
    .image20 {background-image: url('images/dobble-animals/image20.png');}
    .image21 {background-image: url('images/dobble-animals/image21.png');}
    .image22 {background-image: url('images/dobble-animals/image22.png');}
    .image23 {background-image: url('images/dobble-animals/image23.png');}
    .image24 {background-image: url('images/dobble-animals/image24.png');}
    .image25 {background-image: url('images/dobble-animals/image25.png');}
    .image26 {background-image: url('images/dobble-animals/image26.png');}
    .image27 {background-image: url('images/dobble-animals/image27.png');}
    .image28 {background-image: url('images/dobble-animals/image28.png');}
    .image29 {background-image: url('images/dobble-animals/image29.png');}
    .image30 {background-image: url('images/dobble-animals/image30.png');}
    .image31 {background-image: url('images/dobble-animals/image31.png');}
    .background {background-image: url('images/dobble-animals/background-blue.png');}
</style>
<page class="page-absolute card-page" size="A4">
    <div class="card card1 image image1"></div>
    <div class="card card2 image image2"></div>
    <div class="card card3 image image3"></div>
    <div class="card card4 image image4"></div>
    <div class="card card5 image image5"></div>
</page>
<page class="page-absolute alt card-page" size="A4">
    <div class="card card1 image background"></div>
    <div class="card card2 image background"></div>
    <div class="card card3 image background"></div>
    <div class="card card4 image background"></div>
    <div class="card card5 image background"></div>
</page>
<page class="page-absolute card-page" size="A4">
    <div class="card card1 image image6"></div>
    <div class="card card2 image image7"></div>
    <div class="card card3 image image8"></div>
    <div class="card card4 image image9"></div>
    <div class="card card5 image image10"></div>
</page>
<page class="page-absolute alt card-page" size="A4">
    <div class="card card1 image background"></div>
    <div class="card card2 image background"></div>
    <div class="card card3 image background"></div>
    <div class="card card4 image background"></div>
    <div class="card card5 image background"></div>
</page>
<page class="page-absolute card-page" size="A4">
    <div class="card card1 image image11"></div>
    <div class="card card2 image image12"></div>
    <div class="card card3 image image13"></div>
    <div class="card card4 image image14"></div>
    <div class="card card5 image image15"></div>
</page>
<page class="page-absolute alt card-page" size="A4">
    <div class="card card1 image background"></div>
    <div class="card card2 image background"></div>
    <div class="card card3 image background"></div>
    <div class="card card4 image background"></div>
    <div class="card card5 image background"></div>
</page>
<page class="page-absolute card-page" size="A4">
    <div class="card card1 image image16"></div>
    <div class="card card2 image image17"></div>
    <div class="card card3 image image18"></div>
    <div class="card card4 image image19"></div>
    <div class="card card5 image image20"></div>
</page>
<page class="page-absolute alt card-page" size="A4">
    <div class="card card1 image background"></div>
    <div class="card card2 image background"></div>
    <div class="card card3 image background"></div>
    <div class="card card4 image background"></div>
    <div class="card card5 image background"></div>
</page>
<page class="page-absolute card-page" size="A4">
    <div class="card card1 image image21"></div>
    <div class="card card2 image image22"></div>
    <div class="card card3 image image23"></div>
    <div class="card card4 image image24"></div>
    <div class="card card5 image image25"></div>
</page>
<page class="page-absolute alt card-page" size="A4">
    <div class="card card1 image background"></div>
    <div class="card card2 image background"></div>
    <div class="card card3 image background"></div>
    <div class="card card4 image background"></div>
    <div class="card card5 image background"></div>
</page>
<page class="page-absolute card-page" size="A4">
    <div class="card card1 image image26"></div>
    <div class="card card2 image image27"></div>
    <div class="card card3 image image28"></div>
    <div class="card card4 image image29"></div>
    <div class="card card5 image image30"></div>
</page>
<page class="page-absolute alt card-page" size="A4">
    <div class="card card1 image background"></div>
    <div class="card card2 image background"></div>
    <div class="card card3 image background"></div>
    <div class="card card4 image background"></div>
    <div class="card card5 image background"></div>
</page>
<page class="page-absolute card-page" size="A4">
    <div class="card card1 image image31"></div>
    
</page>
<page class="page-absolute alt card-page" size="A4">
    <div class="card card1"></div>
    <div class="card card2 image background"></div>
</page>
<page class="page-absolute alt card-page" size="A4">
    <div class="card card1 image background"></div>
    <div class="card card2"></div>
    <div class="card card3 image background"></div>
    <div class="card card4 image background"></div>
    <div class="card card5 image background"></div>
</page>