<style>
    body {
        background: rgb(255,255,255); 
        padding: 0;

    }
    page {
        background: white;
        display: block;
        margin: 0 auto;
        padding: 0;
        /*      margin-bottom: 0.5cm;
      /      box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
        */
        line-height: 0;
        font-size: 0;
    }
    page[size="A4"] {  
        width: 21cm;
        height: 29.7cm; 
    }
    page[size="A4"][layout="landscape"] {
        width: 29.7cm;
        height: 21cm;  
    }
    page[size="A3"] {
        width: 29.7cm;
        height: 42cm;
    }
    page[size="A3"][layout="landscape"] {
        width: 42cm;
        height: 29.7cm;  
    }
    page[size="A5"] {
        width: 14.8cm;
        height: 21cm;
    }
    page[size="A5"][layout="landscape"] {
        width: 21cm;
        height: 14.8cm;  
    }
    @media print {
        body, page {
            margin: 0;
            box-shadow: 0;
        }
    }
    page.card-page {
        padding: 2cm;
    }
    div {
        margin: 0;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        width:100%;
        height:100%;
    }
    page.alt {
        text-align:right;
    }
    .card {
        height: 9.9cm;
        max-height: 9.9cm;
        width: 6.6cm;
        min-width:6.6cm;
        max-width:6.6cm;
        display: inline-block;
        border: solid 1px #EEE;
    }
    .word {
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3.6cm;
        font-size:50px;
        line-height:60px;
        text-align:center
    }
    .image {
        margin:1cm;
        max-height:7.6cm;
        height:7.6cm;
        width:4.8cm;
        max-width:4.8cm;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .bignumber {
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2cm;
        font-size:200px;
        line-height:200px;
        text-align:center
    }
</style>
<page class="card-page" size="A4">
    <div class="card"><div class="word">styczeń</div></div>
    <div class="card"><div class="word">luty</div></div>
    <div class="card"><div class="word">marzec</div></div>
    <div class="card"><div class="word">kwiecień</div></div>
    <div class="card"><div class="word">maj</div></div>
    <div class="card"><div class="word">czerwiec</div></div>
    <div class="card"><div class="word">lipiec</div></div>
    <div class="card"><div class="word">sierpień</div></div>
    <div class="card"><div class="word">wrzesień</div></div>
</page>
<page class="alt card-page" size="A4">
    <div class="card"><div class="bignumber">3</div></div>
    <div class="card"><div class="bignumber">2</div></div>
    <div class="card"><div class="bignumber">1</div></div>
    <div class="card"><div class="bignumber">6</div></div>
    <div class="card"><div class="bignumber">5</div></div>
    <div class="card"><div class="bignumber">4</div></div>
    <div class="card"><div class="bignumber">9</div></div>
    <div class="card"><div class="bignumber">8</div></div>
    <div class="card"><div class="bignumber">7</div></div>
</page>
<page class="card-page" size="A4">
    <div class="card"><div class="word">październik</div></div>
    <div class="card"><div class="word">listopad</div></div>
    <div class="card"><div class="word">grudzień</div></div>
    <div class="card"><div class="word"></div></div>
    <div class="card"><div class="word"></div></div>
    <div class="card"><div class="word"></div></div>
    <div class="card"><div class="word"></div></div>
    <div class="card"><div class="word"></div></div>
    </page>
<page class="alt card-page" size="A4">
    <div class="card"><div class="bignumber">12</div></div>
    <div class="card"><div class="bignumber">11</div></div>
    <div class="card"><div class="bignumber">10</div></div>
    <div class="card"><div class="bignumber"></div></div>
    <div class="card"><div class="bignumber"></div></div>
    <div class="card"><div class="bignumber"></div></div>
    <div class="card"><div class="bignumber"></div></div>
    <div class="card"><div class="bignumber"></div></div>
    <div class="card"><div class="bignumber"></div></div>
</page>
